.heroBanner {
  padding: 2rem 0;
  text-align: center;
}

.logo {
  height: 200px;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 2rem;
  font-style: italic;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
  }

  .logo {
    height: 150px;
  }
}
