.activities {
  padding: 4rem 0;
  text-align: center;
}

.title {
  color: var(--ifm-color-primary);
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

h3 {
  margin-top: .5rem;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
