/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@media (max-width: 996px) {
  .col.footer__col {
   flex-basis: 0;
  }
}

@media (max-width: 490px) {
  .col.footer__col {
   flex-basis: var(--ifm-col-width);
  }
}
